<h1>Prisoners API</h1>

<h2>Registered services</h2>

<table>
  <thead>
    <th>Service</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= button_to 'Get access token', oauth_token_path(grant_type: 'client_credentials', client_id: application.uid, client_secret: application.secret) %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if params[:code].present? %>
  <h2>Authorisation code:</h2>
  <p><%= params[:code] %></p>
<% end %>
