- unless last_import
  %h2 No previous imports found.
- else
  - if last_import.status == 'in_progress'
    %h2 Import in progress
    %p= "Importing files: #{last_import.files}"
  - else
    %h2 Last performed import
    %table
      %thead
        %tr
          %th
            Report
      %tbody
        - last_import.report_log&.each_line do |file_log|
          %tr
            %td
              = file_log
  - if last_import.error_log
    = link_to 'Download error log', errors_log_imports_path
