%h2
  Imports

- if @imports.none?
  %p
    No previous imports found.

- else
  %table
    %thead
      %tr
        %th
          Prisoners file
        %th
          Aliases file
        %th
          Date
    %tbody
      - @imports.each do |import|
        %tr
          %td
            = import.prisoners_file.file.filename
          %td
            = import.aliases_file.file.filename
          %td
            = import.created_at.strftime('%d/%m/%Y %H:%M:%S')

%p
  = link_to 'New import', new_import_path, class: "button"
