<<<<<<< HEAD
Import on <%= @import.created_at.strftime('%d/%m/%Y %H:%M:%S') %>
=======
Imported on <%= @import.created_at.strftime('%d/%m/%Y %H:%M:%S') %>
>>>>>>> c3c825595a269e167106b81ca8da3bc47376c5ae

<p>
  <% if @import.successful? %>
    Successful
  <% else %>
    Failed
  <% end %>
</p>
