<p style="color: <%= @import.successful? ? 'green' : 'red' %>; font-size: 150%;">
  <% if @import.successful? %>
    Successful
  <% else %>
    Failed
  <% end %>
</p>

<p>Imported on <%= @import.created_at.strftime('%d/%m/%Y at %H:%M:%S') %></p>

<p>MD5: <%= @import.md5 %></p>

<p><%= link_to 'Back', imports_url %></p>
